---
http_interactions:
- request:
    method: get
    uri: https://www.extraspace.com/storage/facilities/us/alabama/auburn/3264/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"182w5qw6yblnlv4"'
      X-Matched-Path:
      - "/en-US/storage/facilities/us/[state]/[city]/[facility]"
      X-Vercel-Cache:
      - HIT
      X-Vercel-Id:
      - pdx1::iad1::ns6vz-1732145999172-35fe0877a0a5
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html><html lang=\"en-US\"><head><meta charset=\"utf-8\"><script
        type=\"application/ld+json\"> { \"@context\": \"http://schema.org\", \"@type\":
        \"BreadcrumbList\", \"itemListElement\": [ { \"@type\": \"ListItem\", \"position\":
        1, \"item\": { \"@type\": \"Thing\", \"@id\": \"https://www.extraspace.com/\",
        \"name\": \"Home\", \"image\": \"\" } }, { \"@type\": \"ListItem\", \"position\":
        2, \"item\": { \"@type\": \"Thing\", \"@id\": \"https://www.extraspace.com/storage/facilities/\",
        \"name\": \"Find Self Storage\", \"image\": \"\" } }, { \"@type\": \"ListItem\",
        \"position\": 3, \"item\": { \"@type\": \"Thing\", \"@id\": \"https://www.extraspace.com/storage/facilities/us/alabama/\",
        \"name\": \"Alabama\", \"image\": \"\" } }, { \"@type\": \"ListItem\", \"position\":
        4, \"item\": { \"@type\": \"Thing\", \"@id\": \"https://www.extraspace.com/storage/facilities/us/alabama/auburn/\",
        \"name\": \"Auburn\", \"image\": \"\" } }, { \"@type\": \"ListItem\", \"position\":
        5, \"item\": { \"@type\": \"Thing\", \"@id\": \"\", \"name\": \"2020 S College
        St\", \"image\": \"\" } } ] }</script><script id=\"JsonLdSelfStorageScript\"
        type=\"application/ld+json\"> { \"@context\": \"http://schema.org\", \"@type\":
        \"SelfStorage\", \"address\": { \"@type\": \"PostalAddress\", \"addressLocality\":
        \"Auburn\", \"addressRegion\": \"AL\", \"postalCode\": \"36832\", \"streetAddress\":
        \"2020 S College St\", \"addressCountry\": \"USA\" }, \"name\": \"Auburn Self
        Storage at 2020 S College St\", \"url\": \"https://www.extraspace.com/storage/facilities/us/alabama/auburn/3264/\",
        \"image\": \"https://images.ctfassets.net/fynvlmu126fq/4iyoxvbJpcEipg1aqt2XpB/57eb31bdd4fb33f57b2e98db5b65c3d7/Beauty_Image\",
        \"telephone\": \"(334) 887-3811\", \"contactPoint\" : { \"@type\": \"ContactPoint\",
        \"telephone\": \"+1-888-609-8483\", \"contactType\": \"Sales\", \"areaServed\":
        \"US\" }, \"priceRange\": \"$-$$$\", \"currenciesAccepted\": \"USD\", \"paymentAccepted\":
        \"MasterCard / VISA / American Express / Discover / Check / Cash / Invoice\",
        \"openingHours\": [\"Mo 9:30-18:00\",\"Tu 9:30-18:00\",\"We 9:30-18:00\",\"Th
        9:30-18:00\",\"Fr 9:30-18:00\",\"Sa 9:00-17:30\"], \"subOrganization\": [
        { \"@type\": \"Organization\", \"name\": \"Extra Space Storage\", \"sameAs\":
        [  \"http://en.wikipedia.org/wiki/Extra_Space_Storage\",  \"https://www.facebook.com/extraspace\",
        \ \"https://twitter.com/extraspace\",  \"https://www.youtube.com/user/ExtraSpaceStorage\",
        \ \"https://www.extraspace.com/\" ] } ], \"amenityFeature\": [  { \"@type\":
        \"LocationFeatureSpecification\",  \"name\": \"Climate Controlled Storage\"
        }, { \"@type\": \"LocationFeatureSpecification\",  \"name\": \"Vehicle Storage\"
        }, { \"@type\": \"LocationFeatureSpecification\", \"name\": \"Secure Storage\"
        } ], \"geo\": { \"@type\": \"GeoCoordinates\", \"latitude\": \"32.5673286\",
        \"longitude\": \"-85.50207925\" }, \"aggregateRating\": { \"@type\": \"AggregateRating\",
        \"worstRating\": \"1\", \"bestRating\": \"5\", \"ratingValue\": \"5\", \"reviewCount\":
        \"82\" }, \"makesOffer\": [  ], \"photo\": [ { \"@type\": \"ImageObject\",
        \"author\": \"Extra Space Storage\", \"contentLocation\": \"Auburn, AL\",
        \"contentUrl\": \"https://images.ctfassets.net/fynvlmu126fq/4iyoxvbJpcEipg1aqt2XpB/57eb31bdd4fb33f57b2e98db5b65c3d7/Beauty_Image\",
        \"description\": \"Auburn Self Storage at 2020 S College St\" } ] ,\"review\":
        [  { \"@type\" : \"Review\", \"author\": {  \"@type\": \"Person\",  \"name\":
        \"Madison W.\" }, \"datePublished\": \"11/16/2024\", \"description\": \"Amazing
        staff they are so helpful! Amazing price compared to my previous storage unit!
        Would definitely recommend them to anyone looking for a storage unit.\", \"reviewRating\":
        {  \"@type\": \"Rating\",  \"worstRating\": \"1\",  \"bestRating\": \"5\",
        \ \"ratingValue\": \"5\" } } , { \"@type\" : \"Review\", \"author\": {  \"@type\":
        \"Person\",  \"name\": \"Prudence N.\" }, \"datePublished\": \"11/13/2024\",
        \"description\": \"Easy from start to finish\\nChase was particularly helpful.\",
        \"reviewRating\": {  \"@type\": \"Rating\",  \"worstRating\": \"1\",  \"bestRating\":
        \"5\",  \"ratingValue\": \"5\" } } , { \"@type\"[...]
