---
http_interactions:
- request:
    method: get
    uri: https://www.extraspace.com/facility-sitemap.xml
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Matched-Path:
      - "/en-US/facility-sitemap.xml"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - pdx1::iad1::xbg6s-1732654602827-947f4a5234b9
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:news="http://www.google.com/schemas/sitemap-news/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:video="http://www.google.com/schemas/sitemap-video/1.1"><url><loc>https://www.extraspace.com/storage/facilities/us/california/simi_valley/1275/</loc><lastmod>2024-11-15T21:00:47.811Z</lastmod></url><url><loc>https://www.extraspace.com/storage/facilities/us/california/vista/1841/</loc><lastmod>2024-10-30T16:47:30.651Z</lastmod></url><url><loc>https://www.extraspace.com/storage/facilities/us/california/el_cajon/1904/</loc><lastmod>2024-11-13T17:11:06.009Z</lastmod></url><url><loc>https://www.extraspace.com/storage/facilities/us/new_jersey/neptune/1906/</loc><lastmod>2024-06-24T20:18:59.145Z</lastmod></url><url><loc>https://www.extraspace.com/storage/fa[...]
